<?xml version='1.0' encoding='utf-8'?>
<widget id="com.udg.qcinet" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
        xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>QciNet</name>
    <description>Posts desde tu telefono sin necesidad de internet</description>
    <author email="jonathanjavier1@gmail.com" href="http://127.0.0.1:8000">Jonathan Murillo</author>
    <content src="http://127.0.0.1:8000/qcinet/www/public"/>
    <access origin="*" />
</widget>